node_modules/
dist/
*.tsbuildinfo
.direnv/
.env*
coverage-summary.txt
.coverage
.c8_output

# Vercel
.vercel/

# Docusaurus
.docusaurus/
build/
ccip-api-ref/docs-sdk/*
!ccip-api-ref/docs-sdk/introduction.mdx
!ccip-api-ref/docs-sdk/guides/
ccip-api-ref/docs-api/*
!ccip-api-ref/docs-api/ccip-api.info.mdx
!ccip-api-ref/docs-api/sidebar.d.ts.vercel
!ccip-api-ref/docs-api/v1/
ccip-api-ref/docs-api/v1/*
!ccip-api-ref/docs-api/v1/sidebar.d.ts
