---
name: Publish to NPM

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    tags:
      - 'v\\d.*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v5.0.0

    - name: Set up Node.js
      uses: actions/setup-node@v6.0.0
      with:
        node-version: 24

    - name: Install dependencies and build
      run: npm ci

    - name: Run lint
      run: npm run check

    - name: Run tests
      run: npm test

    - name: Smoke test cli
      run: npx $PWD/ccip-cli --help

  publish-sdk:
    needs: build-and-test
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci

      - name: Publish @chainlink/ccip-sdk
        run: npm -w ccip-sdk publish --access public --verbose

  publish-cli:
    needs: publish-sdk
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci

      - name: Publish @chainlink/ccip-cli
        run: npm -w ccip-cli publish --access public --verbose
